<mat-card class="card">
  <mat-card-header>{{ resource.name }}</mat-card-header>
  <mat-card-content>
    <ul>
      <li *ngFor="let spec of resourceSpecs; trackBy: trackByKey"
          class="card__spec"
          [ngClass]="{ 'winning-spec': (spec.key | isInArray: highlightedSpecs.winning),
                       'losing-spec': (spec.key | isInArray: highlightedSpecs.losing) }"
      >
        {{ spec.key | snakeCaseToTitleCase }}: {{ spec.value }}
      </li>
    </ul>
  </mat-card-content>
</mat-card>
