<section class="game-container">
  <app-title-star-wars-battle class="title"></app-title-star-wars-battle>
  <ng-container *ngIf="player1Resource && player2Resource; else loading">
    <div class="cards-container">
      <div class="card-container">
        <h3>Player 1</h3>
        <app-card
          [resource]="player1Resource"
          [highlightedSpecs]="highlightedCardSpecs.resource1"
        />
      </div>

      <div>
        <div class="score-container" *ngIf="(score$ | async) as score">
          {{ score.player1 }} : {{ score.player2 }}
        </div>
        <app-battle-result
          [player1Resource]="player1Resource"
          [player2Resource]="player2Resource"
        ></app-battle-result>
      </div>

      <div class="card-container">
        <h3>Player 2</h3>
        <app-card
          [resource]="player2Resource"
          [highlightedSpecs]="highlightedCardSpecs.resource2"
        />
      </div>
    </div>

    <div class="buttons-container">
      <button mat-raised-button (click)="playAgain()">Play again</button>
      <a mat-raised-button routerLink="/" >Change resource</a>
    </div>
  </ng-container>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</section>
