@use "src/assets/styles/abstracts/mixins";

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @include mixins.media-query(laptop) {
    justify-content: space-around;
  }
}

.subtitle {
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.start-game-btn {
  margin: 80px;
  padding: 20px 30px;
  font-size: 1.2em;
}
