@use 'mixins';

@font-face {
  font-family: 'Star Wars';
  src: url('assets/fonts/star-wars.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Star Wars Outlined';
  src: url('assets/fonts/star-wars-outlined.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
  background-image: url("assets/images/background.webp");
  overflow: hidden;
}

button {
  @include mixins.button-reset;
}

ul {
  @include mixins.ul-reset;
}
