@use "variables";

@mixin media-query($label) {
  $min-width: map-get(variables.$breakpoints, $label);
  @if $min-width {
    @media screen and (min-width: $min-width) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin ul-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}
